<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="NewBinding0" />
            </basicHttpBinding>
        </bindings>
        <diagnostics>
            <endToEndTracing propagateActivity="true" activityTracing="true"
                messageFlowTracing="true" />
        </diagnostics>
        <behaviors>
            <serviceBehaviors>
                <behavior name="mexBeh">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="mexBeh" name="wcf_chat.ServiceChat">
                <endpoint address="/NetTcpBinding_IServiceChat" binding="basicHttpBinding"
                    name="NetTcpBinding_IServiceChat" contract="wcf_chat.IServiceChat">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="/NetTcpBinding_IPrivateMessageService" binding="basicHttpBinding"
                    name="NetTcpBinding_IPrivateMessageService" contract="wcf_chat.IPrivateMessageService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/wcf_chat/Service_Chat/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>
